* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.container {
  @include fullSize();
  position: relative;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}
