/*-------------Colors----------------------*/
$c-white: #fff;
$c-black: #000;
$c-red: #ff0000;
$c-pastelGreen: #67db8a;
$c-whiskey: #d3a971;
$c-dustyGray:#9b9b9b;
$c-darkGray:#242424;
$c-razzmatazz:#f50057;
$c-yellowMetal: #796335;
$c-codGray: #1b1b1b;


/*-------------Padding && Margin----------------------*/
$space-basic-xs: 6px; 
$space-basic-s: 8px; 
$space-basic-m: 12px; 
$space-basic-l: 16px; 
$space-basic-xl: 20px; 
$space-extra-xs: 40px; 
$space-extra-s: 50px; 
$space-extra-m: 60px; 
$space-extra-l: 80px; 
$space-extra-xl: 160px; 

/*-------------Font size----------------------*/
$small: 0.7rem;
$basic: 1rem;
$basic-small: 1.5rem;
$basic-medium: 2rem;
$basic-large: 3rem;
$large-s: 4rem;

/*-------------Font----------------------*/
%fmCaveat {
   font-family: 'Caveat', cursive;   
}
%fmYeseva {
      font-family: 'Yeseva One', cursive;
   }


/*-------------Buttons----------------------*/
$btn-borderRadius: 30px;


/*-------------Break Lines----------------------*/

$break-xxl: 1980px;
$break-xl: 1440px;
$break-l: 1200px;
$break-m: 960px;
$break-s: 768px;
$break-xs: 620px;
$break-xxs: 428px;
$break-xxs-mini: 375px;

//grids