.header__signin--btn {
      background-color: $c-pastelGreen !important;
      border-color: $c-pastelGreen !important;
      border-radius: $btn-borderRadius !important; 
}

.header__signin--btn span {
      color: $c-black !important;
}

.header__signin--btn:hover {
      background-color: transparent !important;   
      transform: translateY(-10%);
}

.header__signin--btn span:hover {
      color: $c-white !important;
}

.parallax--fgContainer--btn {
      border-color: $c-pastelGreen !important;
      margin-top: $space-extra-xs !important;
      background-color: $c-pastelGreen !important;
}

.parallax--fgContainer--btn:hover {
      background-color: transparent !important;
      transform: translateY(-10%);
}

.parallax--fgContainer--btn span {
      color: $c-white !important;
      font-size: $basic-small;
}

.calculator--outer__form--btn {
      border-color: $c-razzmatazz !important;
      border-radius: $btn-borderRadius !important; 
}

.calculator--outer__form--btn:hover {
      background-color: $c-razzmatazz !important;
      transform: translateY(-10%);
} 

.calculator--outer__form--btn span {
      color: $c-razzmatazz !important;
}

.calculator--outer__form--btn span:hover {
      color: $c-white !important;
}
