.calculator {
  @include fullSize();
  height: 100vh;
  @include flexBox(column, center, flex-start);
  position: relative;
  background-color: $c-codGray;

  &__result {
    width: 100%;
    height: 200px;
    margin-top: 30px;
    text-align: center;

    p {
      color: $c-white;
      @extend %fmYeseva;
      font-size: $basic-small;
    }
  }

  &__upper {
    width: 100%;
    height: 200px;
    text-align: center;
    margin-top: 40px;

    h2 {
      padding: 20px 6px;
      @extend %fmYeseva;
      color: $c-white;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: $basic-medium;
    }

    span {
      @extend %fmCaveat;
      color: $c-pastelGreen;
      font-size: $basic-small;
    }
  }

  &__bottom {
    width: 100%;
    height: 70%;
    @include flexBox(row, center, center);
    flex-wrap: wrap;

    input {
      border-bottom: 2px solid $c-white;
      color: $c-white;
    }

    input::placeholder {
      color: $c-pastelGreen;
    }
  }

  &__left {
    @include flexBox(column, center, center);
    width: 50%;
    height: 100%;

    div {
      width: 60%;
      margin: 30px;
    }
  }
  &__right {
    @include flexBox(column, center, center);
    width: 50%;
    height: 100%;

    div {
      width: 60%;
      margin: 10px;
    }

    .calculator__right--group {
      width: 100%;
      display: flex;
      justify-content: center;

      div {
        display: inline;
      }
    }
  }

  &__submit {
    position: absolute;
    bottom: 60px;
    width: 200px;

    button {
      width: 100%;
    }
  }
}

@media only screen and (max-width: $break-s) {
  .calculator {
    height: 80vh;
  }
  .calculator__bottom {
    flex-direction: column;

    .calculator__left,
    .calculator__right {
      width: 100%;
    }
    .calculator__right {
      align-items: center;
      justify-content: flex-start;
      height: 50%;
    }

    .calculator__left {
      height: 40%;
    }
  }
}

@media only screen and (max-width: 478px) {
  .calculator {
    height: 100%;

    &__submit {
      position: inherit;
      margin: $space-basic-xl;
    }
  }
}
