.card {
  height: 400px;
  width: 350px;
  @include flexBox(column, center, center);
  margin: $space-basic-m $space-extra-s;
  position: relative;
}

.card--img {
  width: 315px;
  height: 318px;
  @include posAbsol(-9rem, -6rem);
  z-index: 2;
}

.card--img > img {
  object-fit: cover;
  width: 80%;
  height: 80%;
  transform: rotate(140deg);
}

.card--info {
  width: 100%;
  height: 400px;
  border: 5px solid $c-whiskey;
  @include flexBox(column, center, center);
  position: relative;
  z-index: 1;
  transform: perspective(800px);
  transition: 0.5s ease-in-out;

  &:hover {
    transform: perspective(800px) rotateY(45deg);
    background-color: rgb(247, 245, 235);
    box-shadow: 3px 6px 9px $c-codGray;
  }
}

.card__title {
  font-family: "Yeseva One", cursive;
  font-size: $basic-small;
}

.card--info__action {
  width: 40%;
  height: 50px;
  border: 2px solid $c-codGray;
  text-align: center;
  margin: $space-basic-l;
  @include posAbsol(70%, 25%);
  @include flexBox(column, center, center);
  cursor: pointer;
}

.card--info__action:hover {
  transform: translateY(-10%);
  z-index: 2;
  border-color: $c-whiskey;
}

.card--info__action span:hover {
  color: $c-pastelGreen;
}

.card--info__content > p,
.card--info__content > h3 {
  padding: $space-basic-s;
}

@media only screen and (max-width: 1410px) {
  .card {
    width: 300px;
    height: 350px;
    margin: 12px 40px;
  }
}
@media only screen and (max-width: $break-l) {
  .card {
    width: 400px;
    height: 420px;
    margin: $space-extra-m;

    h3 {
      font-size: 2.5rem;
    }
  }
}

@media only screen and (max-width: 1060px) {
  .card {
    width: 460px;
    height: 500px;

    .card--img {
      img {
        width: 91%;
        height: 100%;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .card--img {
    left: -1rem;
  }
}

@media only screen and (max-width: 458px) {
  .card {
    width: 100%;
    height: 350px;
    margin: 60px 10px;
  }

  .card--img {
    width: 250px;
    height: 250px;
  }
}
