.footer {
  @include fullSize();
  height: 50vh;
  background-color: #222;
}

.footer--main {
  @include fullSize();
  @include flexBox(row, center, center);
}

.footer__adress,
.footer__contact,
.footer__about {
  @include flexBox(column, center, center);
  margin: $space-extra-s;
}

.footer__about {
  width: calc(100% / 3);
}

.divider {
  width: 100px;
  height: 2px;
  background-color: #d3a971;
  z-index: 1;
  margin-bottom: $space-basic-m;
}

.footer__about p {
  width: 300px;
}

.footer__adress h4,
.footer__contact h4,
.footer__about h4 {
  font-family: "Caveat", cursive;
  font-size: $basic-medium;
  color: $c-whiskey;
  padding: $space-basic-l;
}

.footer__adress p,
.footer__contact p,
.footer__about p {
  color: $c-dustyGray;
  padding: $space-basic-xs;
}

.footer--links {
  background-color: $c-codGray;
  height: 20%;
  @include flexBox(row, center, center);
}

.footer--links > button > span {
  color: $c-white !important;
}

.footer--links > button > span:hover {
  color: $c-darkGray !important;
}

.contact--smLinks {
  width: 100%;
  @include flexBox(row, center, center);
}

.smLinks__icon {
  font-size: $basic-medium !important;
  padding: $space-basic-m $space-basic-xs;
  color: $c-whiskey !important;
}

.smLinks__icon:hover {
  transform: translateY(-10%);
  color: $c-yellowMetal !important;
}

@media only screen and (max-width: $break-xs) {
  .footer {
    height: 100%;

    &--main {
      flex-wrap: wrap;
    }
  }

  .footer__about,
  .footer__contact {
    margin: 10px;
    margin-top: -30px;
    width: 50%;
  }

  .footer__contact {
    display: block;
    text-align: center;

    p {
      display: inline;
    }
  }

  .footer__adress {
    margin-top: -$space-basic-xl;
  }
}

@media only screen and (max-width: $break-xxs-mini) {
  .footer {
    height: 100%;
  }
  .footer__contact {
    width: 100%;
  }

  .footer__adress p {
    font-size: $small;
  }
}
