.header {
  @include fullSize();
  height: 50px;
  @include flexBox(row, flex-end, flex-end);
  position: fixed;
  z-index: 10;
  top: 0;

  &__logo {
    color: $c-white;
    font-weight: 600;
    font-size: 1.5rem;
    padding: $space-basic-xs $space-basic-l;
    margin-left: $space-extra-xs;
    cursor: pointer;
    user-select: none;
    margin-top: $space-extra-xs;
  }

  &__items {
    flex: 1;
    @include fullSize();
    @include flexBox(row, center, flex-end);
    z-index: -1;
    margin-top: $space-extra-xs;
  }

  &__items--list {
    @include flexBox(row, center, center);
    @include fullSize();
  

 .items--list__navElement {
    color: $c-white;
    padding: $space-basic-xs $space-basic-l;
    &:hover {
      color: $c-pastelGreen;
    }
  }
}

  &__signin {
    width: 200px;
    height: 10px;
    display: none;
    position: relative;
    top: -34px;
  }

  &__items--mobile {
    color: $c-pastelGreen;
    position: absolute;
    right: 1rem;
    top: 0;
  }

  .mobile-show {
    background-color: $c-black;
    width: 100%;
    height: 80vh;
    visibility: visible;
    position:absolute;
    min-width:100%;
    top:-2.5rem;
  }
}

.hide {
  display:none
}

// @media only screen and (max-width: 960px) {
// .header {
//   height:100%;
// }
// }

@media only screen and (max-width: $break-xxs) {
  .mobile-show {
    height: 100vh;
  }
  // .header .mobile-show {
  //   top: 33.5rem;
  // }

  // .header__items--list {
  //   margin-right: $space-basic-l;
  // }
}

// @media only screen and (max-width: $break-xxs-mini) {
//   .header .mobile-show {
//     top: 30rem;
//   }

// }
