.info {
  @include fullSize();
  @include flexBox(column, center, flex-start);

  &__title {
    width: 100%;

    h2 {
      @extend %fmYeseva;
    }
  }

  &__week {
    @include fullSize();
    @include flexBox(column, center, center);

    .info__week--col {
      @include flexBox(row, center, center);

      span {
        color: $c-dustyGray;
        font-size: $basic-medium;
        padding: $space-basic-l;
        transition: 0.5s ease-in;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__card {
    @include fullSize();
    @include flexBox(row, flex-start, inherit);
    margin: $space-basic-xl;

    .info__card--left {
      width: 50%;
      @include flexBox(column, flex-start, center);

      h2 {
        text-transform: uppercase;
        color: $c-whiskey;
        font-size: $basic-small;
        @extend %fmYeseva;
        margin: $space-basic-xl $space-extra-xs;
      }
    }
  }

  &__card--right {
    @include flexBox(column, center, center);
    width: 50%;

    span:first-of-type {
      color: $c-yellowMetal;
      font-size: $basic-medium;
      @extend %fmYeseva;
      padding: $space-basic-m $space-basic-xl;
      margin-top: $space-extra-l;
    }

    span:last-of-type {
      padding: $space-basic-m $space-basic-xl;
      font-size: $basic-small;
      width: 400px;
      font-weight: 300;
      line-height: 40px;

      strong {
        letter-spacing: 4px;
      }
    }
  }

  &__row {
    width: 100%;
    margin: $space-basic-m $space-basic-xs;
    @include flexBox(row, flex-start, flex-start);

    .info__row--icon {
      padding: $space-basic-l;
      margin-left: $space-basic-l;

      i {
        font-size: $basic-large;
        color: $c-yellowMetal;
      }
    }

    .info__row--text {
      margin: 0 $space-basic-m;
      .info__row--title {
        color: $c-yellowMetal;
        font-size: $basic-small;
      }
      .info__row--info {
        color: $c-black;
        font-size: $basic;
        font-weight: 300;
      }
    }
  }
}

.colored {
  color: $c-whiskey !important;
}

@media only screen and (max-width: 1060px) {
  .info__week .info__week--col {
    flex-wrap: wrap;
  }

  .info__card .info__card--left {
    flex: 1;
    width: 60%;
  }

  .info__card--right {
    width: unset;
  }
}

@media only screen and (max-width: 880px) {
  .info__card--right {
    span:last-of-type {
      font-size: $basic;
      width: 200px;
    }

    span {
      margin-left: $space-extra-s;
    }
  }
}

@media only screen and (max-width: 650px) {
  .info__card--right {
    span:last-of-type {
      font-size: $basic;
      width: 140px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .info__card {
    flex-direction: column;
  }

  .info__card--right span:last-of-type {
    width: 100%;
  }

  .info__card--right {
    margin: 0 auto;
  }

  .info__card .info__card--left {
    width: 100%;
  }
}

@media only screen and (max-width: 458px) {
  .info__card--right span:last-of-type {
    padding: 0;
  }

  .info__card--right {
    align-items: flex-start;
    position: relative;
    left: -$space-extra-m;
  }
}
