.offerContainer {
  @include fullSize();
  @include flexBox(column, center, center);
  position: relative;
  margin-top: $space-extra-xl;

  &__title {
    width: 100%;
    height: 200px;
    text-align: center;
    margin-bottom: $space-extra-xs;

    h1 {
      font-family: "Caveat", cursive;
      color: $c-whiskey;
      font-size: $basic-large;
    }

    h2 {
      font-family: "Yeseva One", cursive;
      color: $c-black;
      font-size: $basic-medium;
    }
  }

  &__menuSection {
    @include flexBox(row, center, center);
    margin: $space-extra-xs;
    max-width: 100%;
  }

  &__keyInfo {
    width: 90%;
  }
}

.card--info__content {
  text-align: center;
}

@media only screen and (max-width: 1410px) {
  .offerContainer__menuSection {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: $break-l) {
  .offerContainer__title {
    h1 {
      font-size: $large-s;
    }

    h2 {
      font-size: $basic-large;
    }
  }
}
@media only screen and (max-width: 458px) {
  .offerContainer__menuSection {
    width: 100%;
    margin-left: 35px;
  }
}
