.parallax {
  width: 100%;
  height: 80vh;
  @include flexBox(row, center, inherit);
  position: relative;
  filter: brightness(0.7);
  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax--bgContainer {
  @include fullSize();
  @include posAbsol(0, 0);
}

.parallax--fgContainer {
  width: 100%;
  height: 30%;
  @include flexBox(column, center, inherit);
}

.parallax--fgContainer h1 {
  font-family: "Caveat", cursive;
  font-size: $basic-medium;
  color: $c-pastelGreen;
}

.parallax--fgContainer h2 {
  font-family: "Yeseva One", cursive;
  font-size: $basic-large;
  color: $c-white;
}

.textAppear {
  animation: textappear 2s linear 1;
}

@keyframes textappear {
  0% {
    filter: opacity(0);
  }

  50% {
    filter: opacity(0.5);
  }

  100% {
    filter: opacity(1);
  }
}

@media only screen and (max-width: $break-s) {
  .parallax {
    filter: none;
  }
}

@media only screen and (max-width: $break-xs) {
  .parallax--fgContainer {
    text-align: center;
  }

  .parallax {
    margin-top: 20px !important;
  }
}

@media only screen and (max-width: $break-xxs) {
  .parallax {
    background-attachment: unset;
    background-repeat: unset;
  }
}

@media only screen and (max-width: $break-xxs-mini) {
  .parallax--fgContainer h2 {
    font-size: $basic-medium;
  }
}
