.section {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-top: -3rem;
}

.col-dark {
  @include fullSize();
  background-color: $c-yellowMetal;
}

.small {
  height: 100% !important;
}

.sectionContainer {
  @include fullSize();
  height: 100vh;
  @include flexBox(row, center, center);
}

.sectionContainer__left {
  height: 100%;
  @include flexBox(column, center, center);
  width: 40%;
  text-align: center;
}

.sectionContainer__left h2 {
  font-family: "Caveat", cursive;
  font-size: $basic-medium;
  word-spacing: 3px;
  line-height: 60px;
  color: $c-whiskey;
}
.sectionContainer__left h3 {
  font-family: "Yeseva One", cursive;
  font-size: $basic-medium;
  width: 80%;
  margin: $space-basic-l;
}

.sectionContainer__left p {
  width: 80%;
  font-size: $basic;
  color: $c-dustyGray;
  margin: $space-basic-m $space-basic-xs;
  padding: $space-basic-s;
}
.sectionContainer__right {
  flex: 1;
  width: 60%;
  @include flexBox(row, flex-start, center);
  position: relative;
}

.sectionContainer__right--block1,
.sectionContainer__right--block2 {
  width: 50%;
}

.sectionContainer__right--block1 img,
.sectionContainer__right--block2 img {
  width: 350px;
  height: 500px;
}

.sectionContainer__right--block1 img:hover,
.sectionContainer__right--block2 img:hover {
  transform: scale(1.07);
  box-shadow: 5px -5px 9px $c-darkGray;
}

.sectionContainer__right--block1 img {
  position: absolute;
  top: 5rem;
}

@media only screen and (max-width: $break-l) {
  .sectionContainer__right--block1 img,
  .sectionContainer__right--block2 img {
    width: 250px;
    height: 400px;
  }
  .sectionContainer__right--block1 img {
    left: 10px;
  }
}

@media only screen and (max-width: $break-m) {
  .sectionContainer {
    flex-direction: column;
  }

  .sectionContainer__left,
  .sectionContainer__right {
    width: 100%;
  }

  .sectionContainer__right--block1 img,
  .sectionContainer__right--block2 img {
    width: 350px;
    height: 350px;
  }
  .sectionContainer__right--block1 img {
    left: 2rem;
    top: 1rem;
  }
}

@media only screen and (max-width: $break-s) {
  .sectionContainer__right--block1 img,
  .sectionContainer__right--block2 img {
    width: 300px;
    height: 350px;
  }
}

@media only screen and (max-width: 680px) {
  .sectionContainer__right--block1 img,
  .sectionContainer__right--block2 img {
    object-fit: cover;
    @include fullSize();
  }

  .sectionContainer__right--block2 {
    width: 100%;
    height: 400px;
  }

  .sectionContainer__right--block1 {
    display: none;
  }

  .sectionContainer__right {
    flex-direction: column;
  }
}

@media only screen and (max-width: $break-xs) {
  .sectionContainer__right--block2 {
    width: 100%;
    height: 350px;
  }

  .sectionContainer__left {
    margin-top: $space-extra-xl;
  }

  .sectionContainer {
      margin-top: 0;
      height: 100%;
    }
}

@media only screen and (max-width: $break-xxs) {
  .sectionContainer__left {
    margin-top: $space-basic-s;
  }

  .sectionContainer {
    margin-top: $space-extra-s;
  }
}

@media only screen and (max-width: $break-xxs-mini) {
  .sectionContainer__left,
  .sectionContainer__right {
    height: 50%;
  }

}

@media only screen and (max-width: 345px) {
  .sectionContainer__left {
    width: 100%;
    font-size: 1.5rem;
    margin-top: 0;
  }
}

.leftShowUp {
  animation: leftShowsUp 2s linear 1;
}

.rightShowUp {
  animation: rightShowsUp 2s linear 1;
}

@keyframes leftShowsUp {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes rightShowsUp {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
