.banner__img {
  width: 120%;
  position: absolute;
  left: 50%;
  top: 50%;
  max-height: 100%;
  height: 100vh;
  transform: translate(-50%, -50%);
  animation: zoom-out 3s linear infinite;
  object-fit: cover;
}

@keyframes zoom-out {
  100% {
    width: 100%;
  }
}

.banner {
  @include fullSize();
  position: absolute;
  left: 0;
  top: 0;
}

.banner__text-box {
  width: 600px;
  position: absolute;
  top: 200px;
  left: 100px;
  color: #fff;
  animation: textup 12s linear infinite;
  transform: translateY(100px);
}

@keyframes textup {
  10% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

.banner__text-box h1 {
  margin-bottom: $space-extra-xs;
  font-size: $basic-large;
}

.banner__text-box p {
  font-size: $basic-small;
  margin-top: $space-extra-l;
}

.banner__text-box span {
  background-color: $c-pastelGreen;
  height: 2px;
  width: 100px;
  position: absolute;
  left: 0;
}

@keyframes slide1 {
  0% {
    visibility: visible;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

@keyframes slide2 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}

@keyframes slide3 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}

@keyframes slide4 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

@media only screen and (max-width: $break-m) {
  .banner__text-box {
    top: 200px;
  }
}

@media only screen and (max-width: $break-s) {
  .banner__text-box {
    left: 10px;
  }

  .banner__img {
    width: 100%;
    animation: none;
  }
}

@media only screen and (max-width: $break-xs) {
  .banner__text-box p,
  .banner__text-box h1 {
    width: 70%;
  }

  .banner__text-box p {
    font-size: $basic-small;
  }

  .banner__text-box h1 {
    font-size: 2.5rem;
  }

  .banner__text-box {
    width: 95%;
  }
}

@media only screen and (max-width: $break-xxs) {
  .banner__text-box {
    top: 200px;
  }
}

@media only screen and (max-width: $break-xxs-mini) {
  .banner__text-box {
    top: 150px;
    p {
      font-size: $basic;
    }
  }
}
